@keyframes zoomin {
    0%{
        height: 100%;
    }
    100%{
        height: 105%;
    }
}

.canvas{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .cover{
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        height: 100vh;
    
        .containerImage{
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            animation: zoomin 10s linear infinite;
            -webkit-animation: zoomin 10s linear infinite;

            img{
                position: relative;
                bottom: 0;
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
        }

        .containerImage::after{
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
            position: absolute;
        }

        .containerText{
            z-index: 2;
            width: 100%;
            text-align: center;
            padding: 0px 25px;
            padding-top: 120px;

            p{
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            p:nth-of-type(2){
                text-transform: capitalize;
                padding: 0;
                margin: 0;

                b{
                    font-family: Poppins Bold;
                    border-right: 1px solid white;
                    padding-right: 20px;
                    font-weight: 500;
                    margin-right: 20px;
                    letter-spacing: 3px;
                    font-size: 14px;
                }
            }
            h3{
                font-family: Garamond;
                font-size: 45px;
                margin-bottom: 20px;
            }

            .containerCountdown{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-width: 320px;
                margin: 40px auto;

                p{
                    text-transform: uppercase;
                }

                .days{
                    display: flex;
                    flex-direction: column;

                    p{
                        font-size: 20px;
                    }
                    p:nth-child(2){
                        font-size: 12px;
                    }
                }
                .hours{
                    display: flex;
                    flex-direction: column;

                    p{
                        font-size: 20px;
                    }
                    p:nth-child(2){
                        font-size: 12px;
                    }
                }
                .minutes{
                    display: flex;
                    flex-direction: column;

                    p{
                        font-size: 20px;
                    }
                    p:nth-child(2){
                        font-size: 12px;
                    }
                }
                .seconds{
                    display: flex;
                    flex-direction: column;

                    p{
                        font-size: 20px;
                    }
                    p:nth-child(2){
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .hadist{
        padding: 120px 25px;
        text-align: center;
        background: #333333;
        background-image: url('https://inviteams.com/wp-content/uploads/2022/07/img-tree-shadow-01.png');
        background-size: 100%;
        background-repeat: no-repeat;
        padding-bottom: 270px;

        h3{
            font-family: Garamond Italic;
            letter-spacing: 5px;
            margin-bottom: 50px;
            font-size: 32px;
        }

        p:nth-of-type(1){
            font-family: Garamond Italic;
            font-size: 18px;
        }
        p:nth-of-type(2){
            font-weight: normal;
            font-size: 12px;
        }
    }

    .profile{
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        background: whitesmoke;

        .containerImage{
            position: relative;
            display: flex;
            width: 70%;
            height: 350px;
            margin-top: -100px;
            z-index: 2;

            img{
                width: 0%;
                opacity: 0;
                object-fit: cover;
                position: relative;
                transition: opacity 1s ease-in-out;
                -webkit-transition: opacity 1s ease-in-out;
                -moz-transition: opacity 1s ease-in-out;
                -ms-transition: opacity 1s ease-in-out;
                -o-transition: opacity 1s ease-in-out;
            }
            img.active{
                width: 100%;
                opacity: 1;
            }
        }
        .containerImage::before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: rgba(211, 211, 211, 0.828);
        }
        .containerImage::after{
            content: "The Bride";
            width: 110%;
            height: fit-content;
            font-size: 40px;
            color: white;
            bottom: 0;
            left: -40%;

            position: absolute;
            font-family: Garamond Italic;
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
        }

        .textleft{
            font-family: Poppins;
            font-size: 12px;
            color: #333333;
            padding: 40px 20px;

            p:nth-child(1){
                font-family: Garamond Bold;
                color: #333333;
                font-size: 26px;
                margin-bottom: 12px;
            }

            p{
                margin-bottom: 0px;
            }
        }

        .containerImage:nth-of-type(3){
            margin: auto;
            margin-right: 0;
            margin-top: 50px;

            img:nth-of-type(2){
                width: 150% !important;
                transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                -moz-transform: scaleX(-1);
                -ms-transform: scaleX(-1);
                -o-transform: scaleX(-1);
            }
        }
        .containerImage:nth-of-type(3):before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 20px;
            left: -20px;
            background-color: rgba(211, 211, 211, 0.828);
        }
        .containerImage:nth-of-type(3):after{
            content: "The Groom";
            width: 100%;
            height: fit-content;
            font-size: 40px;
            color: white;
            bottom: 40px;
            text-align: end;
            left: 37%;
            position: absolute;
            font-family: Garamond Italic;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
        }

        .textright{
            font-family: Poppins;
            font-size: 12px;
            color: #333333;
            padding: 40px 20px;
            text-align: end;

            p:nth-child(1){
                font-family: Garamond Bold;
                color: #333333;
                font-size: 26px;
                margin-bottom: 12px;
            }

            p{
                margin-bottom: 0px;
            }
        }
    }

    .event{
        background-color: white;
        padding: 60px 20px;
        padding-bottom: 0px;
        
        .heading{
            color: #333333;
            margin-bottom: 60px;

            p{
                font-family: Poppins Italic;
                margin-bottom: -10px;
            }
            p:nth-child(2){
                font-family: Garamond Italic;
                font-size: 30px;
                border-bottom: 1px solid #333333;
            }
        }

        .ticket{
            display: flex;
            flex-direction: row-reverse;
            height: fit-content;
            background-color: whitesmoke;
            margin-bottom: 50px;

            .left{
                display: flex;
                width: 80px;
                background-color: darkgrey;
                justify-content: center;

                h3{
                    height: fit-content;
                    white-space: nowrap;
                    margin: auto 10px;
                    transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                }
            }
            .right{
                padding: 40px;
                color: #333333;

                .date{
                    display: flex;
                    flex-direction: row;

                    p{ 
                        font-size: 40px !important;
                        width: fit-content;
                        margin: 0px !important;
                        border-right: 1px solid #333333;
                        padding-right: 12px;
                        margin-right: 12px !important;
                    }
                    p:nth-child(2){
                        font-size: 12px !important;
                        margin: auto 0px;
                        border-right: 0px;
                        padding-right: 0px;
                        margin-right: 0px;
                    }
                }
                .time{
                    width: fit-content;
                    margin-top: 12px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    i{
                        margin-right: 12px;
                    }
                }
                p:nth-last-child(4){
                    margin-top: 40px;
                    margin-bottom: 20px;
                    font-family: Poppins Bold;
                }
                p:nth-last-child(3){
                    font-size: 12px;
                }
                p:nth-last-child(2){
                    font-size: 12px;
                    margin-bottom: 30px;
                }
                a{
                    width: fit-content;
                    padding: 8px 18px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background-color: transparent;
                    font-family: Poppins;
                    border: 1px solid #333333;
                    color: #333333;

                    i{
                        font-size: 16px;
                        margin: auto;
                        margin-left: 12px;
                    }
                }
            }
        }

        .ticket:nth-child(2){
            flex-direction: row;
        }
    }

    .protocol{
        background-color: white;

        p{
            margin-top: 40px;
            color: #333333;
            text-align: center;
        }

        .container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 300px;
    
            img{
                max-width: 40px;
            }
        }
    }

    .footer{
        padding: 60px 20px;
        padding-top: 100px;
        background: linear-gradient(180deg, white, lightgrey);

        p{
            text-align: center;
            color: #333333;
        }
        p:nth-child(1){
            font-family: Pinyon;
            font-size: 30px;
        }
        p:nth-child(2){
            font-size: 12px;
        }
        p:nth-child(3){
            margin-top: 30px;
        }
        p:nth-child(4){
            font-family: Garamond Italic;
            font-size: 40px;
        }
    }
}