@font-face {
  font-family: Poppins;
  src: url('../public/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins Bold;
  src: url('../public/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins Italic;
  src: url('../public/fonts/Poppins/Poppins-Italic.ttf');
}

@font-face {
  font-family: Garamond;
  src: url('../public/fonts/EB_Garamond/static/EBGaramond-Bold.ttf');
}

@font-face {
  font-family: Garamond Italic;
  src: url('../public/fonts/EB_Garamond/static/EBGaramond-Italic.ttf');
}

@font-face {
  font-family: Pinyon;
  src: url('../public/fonts/Pinyon_Script/PinyonScript-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins;

  max-width: 768px;
  width: 100%;
  overflow: scroll;
  margin: auto;
  background-color: #181818;
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
